@model BreakOutBox.Models.Domain.Groep
@{
    ViewData["Title"] = "Overzicht Groep";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Groep:</h2>
        <h4>Status: @Model.GetState().Beschrijving</h4>
        <ul>
            @foreach (var leerling in Model.Leerlingen)
            {
                <li>@leerling.Voornaam @leerling.Achternaam</li>
            }
        </ul>
        <br>
    </div>
    <div class="float-right text-center groepdetails">
        <form>
            @switch (Model.State)
            {
                case 0: // NietGereedState
                    <button>Zet gereed</button>
                    <button>Vergrendel</button>
                    break;
                case 1: // GereedState
                    <button>Zet niet gereed</button>
                    <button>Vergrendel</button>
                    break;
                case 2: // VergrendeldState
                    <button>Ontgrendel</button>
                    <button>Blokkeer</button>
                    break;
                case 3: // GeblokkeerdState
                    <button>Deblokkeer</button>
                    break;
            }
        </form>
    </div>
</div>

