@model BreakOutBox.Models.Domain.Groep
@{
    ViewData["Title"] = "Overzicht Groep";
}

<div class="row">
    <div class="col-12 col text-center">
        <h2>Groep:</h2>
        <h4>Status: @Model.GetState().Beschrijving</h4>
        <ul>
            @foreach (var leerling in Model.Leerlingen)
            {
                <li>@leerling.Voornaam @leerling.Achternaam</li>
            }
        </ul>
        <br>
    </div>
    <div class="float-right text-center">
        @if (Model.State == 0) //NietGereedState
        {
        <form>
            <button>Zet gereed</button>
            <button>Vergrendel</button>
        </form>
        }
        @if (Model.State == 1) //GereedState
        {
        <form>
            <button>Zet niet gereed</button>
            <button>Vergrendel</button>
        </form>
        }
        @if (Model.State == 2) //VergrendeldState
        {
        <form>
            <button>Ontgrendel</button>
            <button>Blokkeer</button>
        </form>
        }
        @if (Model.State == 3) //GeblokkeerdState
        {
            <form>
                <button>Deblokkeer</button>
            </form>
        }
    </div>
</div>

