
@model BreakOutBox.Models.SessieViewModels.GeefSessieCodeViewModel

<div class="center-block">



    <h1>BREAKOUT BOX </h1>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="SessieCode"></label>
            <textarea asp-for="SessieCode" class="form-control"></textarea>
            <span asp-validation-for="SessieCode" class="text-danger"></span>
        </div>




        <div>
            <button asp-controller="Sessie" asp-action="SessieOverzicht" asp-route-id="aaa" type="submit" >GO!</button>
        </div>
    </form>





</div>






