@{
    ViewData["Title"] = "Deelnemen aan sessie";
}
@{int code = 0;}

<p></p>
<form method="get" asp-controller="Sessie" asp-action="SessieOverzicht" asp-route-id="@(321)">
    @*Hier moet ee nvariabele met de waarde die in het teksvak staat*@

    Sessie code: <input type="text" id="txtSessieCode" name="sessieCode"><br>
    <input type="submit" value="Submit">
</form>