@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "Sessie";
}

<div class="row">
    <div class="col-12 col">
        <h2>Sessie: @Model.Omschrijving</h2>
    </div>
</div>

<div class="row">
    @foreach (var groep in Model.Groepen)
    {
        <div class="sm-12 md-6 col">
            <h4>Groep @(groep.GroepId)</h4>
            <ul>
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li>@(leerling.Voornaam + leerling.Achternaam)</li>
                }
                <li>
                    <a asp-controller="Sessie" asp-action="SpelOverzicht" asp-route-id="@groep.GroepId">
                        <i class="fas fa-angle-double-right"></i> Klik hier als dit jouw groep is
                    </a>
                </li>
            </ul>
        </div>
    }
</div>