@model BreakOutBox.Models.Domain.Sessie
@{
    ViewData["Title"] = "SpelOverzicht";
}

<h2>Spel Overzicht</h2>
<br />
<h4>@TempData["message"]</h4>
<p>Opdracht 1</p>
<p>Test</p>
<div>
    <label>Toeganscode</label>
    <input class="form-control" data-val-required="Gelieve een antwoord te geven" />
    <button type="submit" class="btn btn-default">Submit</button>
</div>