nav .btn {
    box-shadow: none;
    color: white;
}

nav .btn:hover {
    color: black;
}

.alert {
    margin-bottom: 0;
}

.alert-warning {
    color: darkgray;
    color: rgba(0,0,0,0.66);
}

#homeForm > div {
    display: inline-block;
}

.pdfcontainer {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    box-shadow: 0 7px 4px -6px rgba(0,0,0,0.5);
}

.pdf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    line-height: 1.2;
}

.progress {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#sessielijst tr {
    border-bottom: 1px solid lightgray;
    line-height: 2em;
}

.sync {
    margin-bottom: 0.75rem;
}

.modal {
    background: none;
    background: rgba(0,0,0,0.5);
}