/* 
=========== GROEP ===========
*/
.groep ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.groep {
    max-width: 600px;
    padding: 0;
    padding-right: 6px;
    margin-bottom: 1em;
}

.groep ul {
    padding: 0 0 3px 0;
}

.groep li {
    line-height: 1.8em;
    font-size: 0.9em;
    padding: 0 0.8em;
    padding-bottom: 0.12em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.groep li:first-of-type {
    font-weight: bold;
    line-height: 2.2em;
    border: 1px solid rgb(0, 123, 255);
    color: rgb(0, 123, 255);
    margin-bottom: 0.12em;
}

.groep li:last-of-type {
    /*border-bottom: none;*/
}

.groep .icon {
    margin-right: 0.6em;
}

.groep span {
    display: block;
    padding: 0 0.8em;
}

.groep .header {
    font-weight: bold;
    font-size: 1em;
    line-height: 3.5em;
    background: rgb(0, 123, 255);
    color: white;
    margin-bottom: 10px;
}

.groep .icons {
    font-size: 2em;
    text-align: center;
}

.groep a {
    /*color: rgb(58, 121, 152);*/
    text-decoration: none;
}

@media only screen and (max-width:575px) {
    .groep {
        padding-right: 0;
    }
}