/* 
=========== GROEP ===========
*/
.groep {
    box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
    /*max-width: 400px;*/
    margin: 20px;
    border-radius: 7px;
    border-bottom: 3px solid rgb(54, 54, 54);
}

.groep ul {
    padding: 5px 0;
}

.groep li {
    line-height: 2em;
    padding: 0 24px;
}

.groep .icon {
    margin-right: 1.2em;
}

.groep span {
    display: block;
    padding: 0 24px;
}

.groep .header {
    font-weight: bold;
    font-size: 1em;
    line-height: 3.5em;
    background: rgb(54, 54, 54);
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 10px;
}

.groep .icons {
    font-size: 2em;
    text-align: center;
    margin-bottom: 8px;
}

.groep .icons a {
    color: rgb(54, 54, 54);
}

@media only screen and (min-width:992px) {
    .md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 46%;
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
        max-width: 46%;
    }

    .groep:nth-of-type(odd) {
        margin-right: 0;
    }
}
