body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* 
    =============================
    ONZE EIGEN CSS KOMT HIERONDER
    =============================
*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 072 Spiky Naga www.webgradients.com */
    /*background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);*/
    background: #D22355;
    color: white;
}

a, #landing, #landing a, #landing a:hover, #landing a:visited, #landing a:active, #landing .text-danger {
    color: white;
}

#landing {
    padding-top: 0;
    padding-bottom: 0;
}

#landing input {
    display: inline-block;
}

ul li, ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

ul li::before {
    content: none;
}

a, a:visited, a:active, a:hover {
    background-image: none;
}

a:hover {
    font-weight: bold;
}

nav a {
    padding: 20px 0;
    line-height: 60px;
}


.navbar-right {
    right: 0;
    left: auto;
}

h2, h4 {
    margin: 0;
}

footer {
    margin-top: 60px;
}

#RememberMe {
    display: inline;
}

input, select, button, textarea {
    border: 2px solid white;
    color: white;
}