body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* 
    =============================
    ONZE EIGEN CSS KOMT HIERONDER
    =============================
*/
body {
    height: 100%;
    font-size: 16px;
    margin: 0;
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgba(0,0,0,0.05);
    background: linear-gradient(to right, #b5c4d1, #d7dbdd);*/
    color: #202020;
    /*border-top: 10px solid #202020;*/
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, a, button, input, option, p, select, table, tbody, td, textarea, th, thead, tr {
    font-family: inherit;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

a, a, a:hover, a:visited, a:active, .text-danger {
    background-image: none;
    color: #202020;
}

#navigatie {
    padding-top: 0;
    padding-bottom: 0;
}

.inputinline input {
    display: inline-block;
}

.nav {
    margin-bottom: 0;
}

.bgcolorwhite {
    /*background-color: rgba(255,255,255,0.75);
    box-shadow: 0 7px 4px -6px rgba(0,0,0,0.5);*/
    margin-bottom: 32px;
    background: rgb(54, 54, 54);
}

ul li, ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0px;
    line-height: 1.4rem;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

ul li::before {
    content: none;
}

a:hover {
    font-weight: bold;
}

nav {
    text-align: right;
}

nav a, nav a:hover, nav a:visited, nav a:active {
    padding: 20px 0;
    line-height: 60px;
    color: white;
}

nav a:hover {
    font-weight: inherit;
}

.navbar-right {
    right: 0;
    left: auto;
}

h2, h4 {
    margin: 0;
}

h4 {
    margin-bottom: 10px;
    /*text-shadow: 1px 1px 0px lightgray;*/
}

footer {
    margin: 60px 0 30px 0;
}

#RememberMe, #Toegangscode {
    display: inline;
}

input, select, button, textarea {
    border: 2px solid #202020;
    color: #202020;
}

/*.groep, .groep:hover {
    /*box-shadow: 0 10px 20px -6px #9f9f9f;
    border: 3px solid #9f9f9f;
    text-align: center;
}

.groep:hover {
    border-color: #202020;
}*/
.marginright {
    margin-right: 0.5em;
}

object {
    width: 100%;
    margin-bottom: 30px;
}

#pdf_content {
    box-shadow: 0 7px 4px -6px rgba(0,0,0,0.5);
}
}

#pdf_hulp {
    box-shadow: 0 7px 4px -6px rgba(0,0,0,0.5
}


.erroricon {
    margin-left: 0.5em;
    color: #d44545;
}

.correcticon {
    margin-left: 0.5em;
    color: #69985d;
}

.tip {
    font-size: 0.5em;
}