@{
    ViewData["Title"] = "Error";
}

<div class="container pt-5">
    <div class="row">
        <div class="col text-center">
            <p><i class="fas fa-box-open fa-8x text-primary"></i></p>
            <h1 class="text-primary mb-5">BreakOutBox</h1>
            <h2>404</h2>
            <p>Deze pagina werd niet gevonden.</p>
            <form asp-action="Index" method="get">
                <div class="form-row">
                    <div class="col-auto form-group" style="margin-left:auto;margin-right:auto;">
                        <div class="input-group input-group-seamless">
                            <button type="submit" class="btn btn-primary">Naar home</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>