@model BreakOutBox.Models.SessieViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <p class="text-center pt-5"><i class="fas fa-box-open fa-8x text-primary"></i></p>
            <h1 class="text-primary text-center mb-5">BreakOutBox</h1>
            <h4>Gemaakt door</h4>
            <p>
                Daan Dedecker <br>
                Robbe Schepens <a href="https://www.linkedin.com/in/robbeschepens/" target="_blank" title="Ga naar het LinkedIn profiel van Robbe Schepens" class="ml-1"><i class="fab fa-linkedin"></i></a><br>
                Bjorn Hoffmann <br>
                Michael Vermassen
            </p>
            <p>
                Onder opdracht van Hogeschool Gent. <br>
                Academiejaar 2017 - 2018. <br>
                Projecten II - Groep 22
            </p>
        </div>
    </div>
</div>