@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}

<div class="container pt-4">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">@ViewData["Title"]</h2>
            <p>Gelieve je mailbox eens te controleren.</p>
        </div>
    </div>
</div>