@if (TempData["success"] != null)
{
    <!-- Success Dismissible Alert -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times fa-sm fa-fw"></i></span>
        </button>
        <i class="fas fa-check fa-fw"></i> @TempData["success"]
    </div>
}
@if (TempData["info"] != null)
{
    <!-- Info Dismissible Alert -->
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times fa-sm fa-fw"></i></span>
        </button>
        <i class="fas fa-info-circle fa-fw"></i> @TempData["info"]
    </div>
}
@if (TempData["warning"] != null)
{
    <!-- Warning Dismissible Alert -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times fa-sm fa-fw"></i></span>
        </button>
        <i class="fas fa-exclamation-triangle fa-fw"></i> @TempData["warning"]
    </div>
}
@if (TempData["danger"] != null)
{
    <!-- Danger Dismissible Alert -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times fa-sm fa-fw"></i></span>
        </button>
        <i class="fas fa-exclamation-circle fa-fw"></i> @TempData["danger"]
    </div>
}