@using Microsoft.AspNetCore.Identity
@using BreakOutBox.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item active mr-3">
        <a asp-controller="Leerkracht" asp-action="Index" title="Sessieoverview" class="nav-link">@UserManager.GetUserName(User)</a>
    </li>
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <li class="nav-item active">
            <button type="submit" class="btn btn-outline-light btn-squared">Afmelden</button>
        </li>
    </form>
}
else
{
    @*<li><a asp-controller="Account" asp-action="Register" class="nav-link">Registreer leerkracht</a></li>*@
    <li class="nav-item active"><a asp-controller="Account" asp-action="Login" class="nav-link">Aanmelden (leerkracht)</a></li>
}